@model SolvITSupport.Models.AssignTicketViewModel

<form asp-action="Assign">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="TicketId" />

    <div class="form-group">
        <label asp-for="AttendantId" class="control-label"></label>
        <select asp-for="AttendantId" class="form-control" asp-items="@Model.Attendants">
            <option value="">-- Selecione um Atendente --</option>
        </select>
        <span asp-validation-for="AttendantId" class="text-danger"></span>
    </div>
</form>