@model SolvITSupport.Models.ChangePriorityViewModel
<form asp-action="ChangePriority">
    <input type="hidden" asp-for="TicketId" />
    <div class="form-group">
        <label asp-for="NewPriorityId"></label>
        <select asp-for="NewPriorityId" class="form-control" asp-items="@Model.Priorities">
            <option value="">-- Selecione uma Prioridade --</option>
        </select>
        <span asp-validation-for="NewPriorityId" class="text-danger"></span>
    </div>
</form>