@model SolvITSupport.Models.ChangeStatusViewModel
<form asp-action="ChangeStatus">
    <input type="hidden" asp-for="TicketId" />
    <div class="form-group">
        <label asp-for="NewStatusId"></label>
        <select asp-for="NewStatusId" class="form-control" asp-items="@Model.Statuses">
            <option value="">-- Selecione um Status --</option>
        </select>
        <span asp-validation-for="NewStatusId" class="text-danger"></span>
    </div>
</form>