@model SolvITSupport.Models.Ticket

@{
    ViewData["Title"] = "Apagar Chamado";
}

<h1>@ViewData["Title"]</h1>

<h3 class="text-danger">Tem a certeza de que deseja apagar este chamado?</h3>
<p class="text-danger">Esta ação não pode ser revertida.</p>
<hr />

<div>
    <h4>Chamado: @Model.Titulo</h4>

    <dl class="row mt-4">
        <dt class="col-sm-2">Código</dt>
        <dd class="col-sm-10">@Model.Codigo</dd>

        <dt class="col-sm-2">Descrição</dt>
        <dd class="col-sm-10">@Model.Descricao</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />

        <input type="submit" value="Sim, apagar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Não, cancelar</a>
    </form>
</div>